body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-image: url('../imgs/FONDOS/fondo\ blanco\ degr.png');
  background-size: cover;
  /* La imagen cubrirá todo el fondo */
  background-repeat: no-repeat;
  /* Evita que se repita la imagen */
  background-position: center center;
  /* Centra la imagen en el fondo */
}


/* -------------------------------------------------------------------------- */
/* Slider */
.slider {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

/* Cada imagen ocupa toda la pantalla */
.slide {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 1.5s ease-in-out;
}

/* Mostrar la imagen activa */
.slide.active {
  opacity: 1;
}

/* Ajustar tamaño de imagen */
.slide img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

/* -------------------------------------------------------------------------- */

/* Sección de Descripción */
.description-section {
  width: 100%;
  height: 300px;
  background: url('../imgs/FONDOS/Fondo piedra.png') no-repeat center center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 100px 0;
}

/* Contenedor del texto */
.description-container {
  width: 800px;
  padding: 20px;
  border-radius: 10px;
}

/* Texto */
.description-container p {
  font-size: 1.25rem;
  text-align: center;
  font-family: 'Marcellus', serif;
  line-height: 1.6;
}


/* -------------------------------------------------------------------------- */
/* Sección de Exposición de Arte */
.art-exhibit {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

/* Contenedor de la imagen y contenido */
.art-container {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

/* Imagen con efecto de zoom */
.art-image-link {
  display: block;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 10px;
}

.art-image {
  width: 100%;
  height: 100%;
  background: url('../imgs/Group 230 (1).png') no-repeat center center/cover;
  transition: transform 0.5s ease-in-out;
}

/* Efecto zoom en hover */
.art-image-link:hover .art-image {
  transform: scale(1.1);
}

/* Contenido debajo de la imagen */
.art-content {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 50%;
  text-align: center;
  padding: 3em;
  color: white;
  font-family: 'Marcellus', serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* Título con hover */
.art-title {
  font-size: 2.5vw;
  font-weight: 100;
  text-decoration: none;
  color: white;
  transition: color 0.3s ease-in-out;
}

.art-title:hover {
  color: #979329;
}

/* Texto */
.art-text {
  font-size: 1.2vw;
  line-height: 1.6;
  margin: 15px 0;
}

/* Botón */
.art-button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 1.2vw;
  color: white;
  text-decoration: none;
  border: 2px solid white;
  width: 300px;
  margin: auto;
  transition: background 0.3s ease-in-out, color 0.3s ease-in-out;
}

/* Hover del botón */
.art-button:hover {
  background: #9a9468;
  color: black;
  border: 2px #9a9468 solid;
}


/* -------------------------------------------------------------------------- */

/* Sección de Eventos */
.event-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100vh;
  padding: 50px;
}

/* Columna Izquierda */
.event-left {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Contenedor de la imagen con hover */
.hover-image-container {
  position: relative;
  width: 80%;
  height: 80%;
  overflow: hidden;
}

/* Imágenes dentro del contenedor */
.hover-img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: opacity 0.5s ease-in-out;
}

/* Imagen por defecto visible */
.default-img {
  opacity: 1;
}

/* Imagen hover oculta por defecto */
.hover-img-active {
  opacity: 0;
}

/* Efecto hover: Cambia de imagen */
.hover-image-container:hover .default-img {
  opacity: 0;
}

.hover-image-container:hover .hover-img-active {
  opacity: 1;
}

/* Columna Derecha */
.event-right {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-around; /* Espaciado uniforme */
  align-items: center;
  text-align: center;
  color: white;
  font-family: 'Marcellus', serif;
  padding: 50px;
}

/* Título con hover */
.event-title {
  font-size: 3vw;
  font-weight: 100;
  text-decoration: none;
  color: white;
  transition: color 0.3s ease-in-out;
}

.event-title:hover {
  color: #979329;
}

/* Texto */
.event-text {
  font-size: 1.3vw;
  line-height: 1.6;
  max-width: 80%;
}

/* Botón */
.event-button {
  display: inline-block;
  padding: 12px 24px;
  font-size: 1.2vw;
  color: white;
  text-decoration: none;
  border: 2px solid white;
  width: 300px;
  transition: background 0.3s ease-in-out, color 0.3s ease-in-out, border 0.3s ease-in-out;
}

/* Hover del botón */
.event-button:hover {
  background: #9a9468;
  color: black;
  border-color: #9a9468;
}

/* -------------------------------------------------------------------------- */


/* -------------------------------------------------------------------------- */
/* Sección de 3 columnas */
.three-column-section {
  display: flex;
  justify-content: space-evenly; /* Espaciado equitativo */
  align-items: start;
  width: 100%;
  height: auto;
  padding: 6em;
}

/* Cada columna */
.column {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: white;
  font-family: 'Marcellus', serif;
}

/* Imágenes */
.column img {
  width: auto; /* Ajusta según sea necesario */
  height: 100px;
  margin-bottom: 10px;
}

/* Texto */
.column p {
  font-size: 1.2vw;
  margin: 0;
}


/* -------------------------------------------------------------------------- */
/* Sección de Imagen Completa */
.full-image-section {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

/* Imagen que ocupa toda la pantalla */
.full-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}

.card-container {
  max-width: 1250px;
  margin: 2rem auto;
  position: relative;
}

.image-container {
  position: relative;
  overflow: hidden;
  border-radius: 8px;
}

.hover-zoom {
  width: 100%;
  height: auto;
  transition: transform 0.5s ease;
  display: block;
}

.image-container:hover .hover-zoom {
  transform: scale(1.1);
}

.content-overlay {
  position: absolute;
  bottom: 20px;
  /* Nueva posición inferior */
  right: 20px;
  /* Nueva posición derecha */
  text-align: right;
  /* Alineación a la derecha */
  z-index: 2;
  pointer-events: none;
  /* Añadido para todo el overlay */
}

.paragraph {
  color: white;
  margin: 10px 0;
  font-size: 1.1em;
  pointer-events: auto;
  /* Permitir interacción */
}

.title-hover {
  color: white;
  font-size: 2.5em;
  margin-bottom: 1rem;
  transition: color 0.3s ease;
}

.btn-hover {
  background: transparent;
  border: 2px solid white;
  color: white;
  padding: 12px 30px;
  font-size: 1.1em;
  cursor: pointer;
  transition: all 0.3s ease;
}

/* Efectos hover */
.title-hover:hover {
  margin-bottom: 5px;
  color: #ffd700;
  /* Cambiar por tu color deseado */
}

.btn-hover:hover {
  background: white;
  color: #333;
  border-color: transparent;
}

/* Asegurar que el texto no se vea afectado por el zoom */
.content-overlay>* {
  pointer-events: none;
}

.btn-hover {
  pointer-events: auto;
}

.title-hover {
  pointer-events: auto;
}


.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  margin-left: 250px;

}

.image-section img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;

}

.text-section {
  color: aliceblue;
  max-width: 500px;
  padding: 20px;
}

h1 {
  font-size: 2.5em;
  margin-bottom: 20px;
  font-family: 'Georgia', serif;
}

p {
  font-size: 1em;
  line-height: 1.5;
  margin-bottom: 20px;
}

.cta-button {
  display: inline-block;
  background-color: #FFC107;
  /* Cambia el color según tus preferencias */
  color: #000;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.cta-button:hover {
  background-color: #ff9800;
  /* Cambia el color al pasar el mouse */
}

/*para el catering*/

.catering {
  display: flex;
  justify-content: space-between;
  padding: 50px;
  background: #333;
}

.content {
  width: 50%;
  padding: 20px;
}

.content h1 {
  font-size: 48px;
  margin-bottom: 20px;
}

.content p {
  font-size: 18px;
  margin-bottom: 20px;
}

.btn {
  background-color: #ffcc00;
  color: #333;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
}

.images {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 45%;
}

.image {
  background: #444;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.image h2 {
  position: absolute;
  color: white;
  font-size: 24px;
  text-align: center;
}

.buffet {
  background-image: url('../imgs/plato-frt.png');
  background-size: cover;
}

.degustaciones {
  background-image: url('../imgs/plat-postre.png');
  background-size: cover;
}

/*nostros */

.container-nosotros {
  position: relative;
  width: 100%;
  height: 100vh;
  background-image: url('../imgs/nosotros.png');
  /* Añadir la URL de la imagen */
  background-size: cover;
  background-position: center;
}

.overlay-nosotros {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  padding: 20px;
  background: rgba(0, 0, 0, 0.5);
  /* Fondo oscuro semi-transparente */
  border-radius: 10px;
}

h1 {
  font-size: 3em;
  margin-bottom: 20px;
}

p {
  font-size: 1.2em;
  margin-bottom: 20px;
}

.btn {
  padding: 10px 20px;
  background-color: #4CAF50;
  /* Color del botón */
  color: white;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  font-size: 1em;
  transition: background-color 0.3s;
}

.btn:hover {
  background-color: #45a049;
  /* Color al pasar el ratón */
}

/*casi terminando*/

.container-ult {
  background-color: #333;
  /* Color de fondo de la sección */
  color: white;
  /* Color del texto */
  text-align: center;
  /* Centra el texto en los elementos del contenedor */
  padding: 20px 0;
  /* Espaciado superior e inferior */
}

.header {
  display: flex;
  /* Utiliza flexbox para alinear los elementos horizontalmente */
  justify-content: center;
  /* Centra los elementos en el eje horizontal */
}

.icon {
  margin: 0 20px;
  /* Espaciado lateral entre los iconos */
}

.icon img {
  width: 60px;
  /* Ancho del icono */
  height: auto;
  /* Mantiene la proporción del icono */
}

.icon p {
  margin: 5px 0 0 0;
  /* Espaciado en la parte superior del texto */
}

h2 {
  font-size: 3rem;
}

p {
  font-size: 1.25rem;
}

li {
  font-size: 1.25rem;
}